.img{
    margin-left: 40%; width: 20%;
  }
  h1{
    color: #bd0c0c;
  margin-left: 35%;
  width: 70%;
  }
  .a{
    width: 100%;
    margin-left: 40%; 
    color: #bd0c0c;
  }
  
  h2{ 
    margin-left: 35%;color:
     #ff0000;margin-left: 35%;
  width: 40%;}
  hr{width: 40%;
  }
  header{
  width:;
  }
  h3{ 
    margin-left: 35%;color:
     #000000;margin-left: 35%;
  width: 40%;}
  
  table,tr,td{
  background-color: rgb(226, 226, 226);
  padding: 5px;margin-left: 35%; width: 
  35%;  
  }
  h4{ 
    margin-left: 35%;color:
     #272727;margin-left: 35%;
  width: 40%;}
  .img2{ margin-left: 35%;}
  
  .ye1{background-color:white ;
  
  }
  .cosas{
  background-color: white;  
  }
  .opi{
  background-color: white;
  }
  .img2{
  background-color: white;
  }
  .culo{
    background-color: white;
  }
  .feo{
  background-color: white;
  margin-left: -9%;margin-bottom: 35%;
  }