h1 {
    background-color: rgb(61, 61, 61);
    text-align: center;
    color: white;
    padding: 16px;
    
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 14px;
    text-align: center;
    
    
    
}
img{  
    width: 50%;
    box-shadow: 10px black;
}
.a{
    background-color: rgb(61, 61, 61);
    border-radius: 10px;
}

body{
font-family: ;    
}
p{
color: white;    
}
span{
color: white;
}